<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>User Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            table, th, td{
                border: 1px solid black;
                padding: 5px;
            }
        </style>
    </head>
    <body>
        <div id="topbar">
        {% for user in current_user %} 
            <h3>Welcome, {{user.first_name}}!</h3>
        {% endfor %}
            <a href="/logout">Logout</a>
        </div>
        <h2>All Users</h2>
        <form action="/users/add" method='POST'>
            {% csrf_token %}
            <input type="submit" value="Add New User" />
        </form>
        <table>
            <thead><td>ID</td><td>Name</td><td>Created At</td><td>Admin Level</td></thead>
            {% for user in all_users %}
                <tr><td>{{user.id}}</td><td><a href="/users/show/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></td><td>{{user.created_at}}</td><td>{{user.admin}}</td></tr>
            {% endfor %}
        </table>
    </body>
</html>