<!DOCTYPE html>
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="topbar">
        {% for user in current_user %} 
            <h3>Welcome, {{user.first_name}}, user No. {{user.id}}!</h3>
        <a href="/dashboard">Dashboard</a>
        <a href="/users/show/{{user.id}}">Profile</a>
        {% endfor %}
        <a href="/logout">Logout</a>
        </div>
        <div id="main">
            {% for user in show_user %}
                <h2>{{user.first_name}} {{user.last_name}}</h2>
                <h4>Registered at: {{user.created_at}}</h4>
                <h4>ID #: {{user.id}}</h4>
                <h4>Email address: {{user.email}}</h4>
            
            <h2>Leave a message for {{user.first_name}}, ID {{user.id}}</h2>
            <form action='/process_message' method='POST'>
                {% csrf_token %}
                <textarea rows="6" cols="100" name="message_content"></textarea><br><br>
                <input type="hidden" name="receiver_id" value="{{user.id}}">
                <input type="submit" value="Post">
            </form>
            {% endfor %}
            {% for message in messages.all %}
                <h4>{{message.sender.first_name}} {{message.sender.last_name}} whose ID #{{message.sender.id}} - to ID #{{message.receiver.id}} wrote:</h4>
                <p>{{message.content}} - Message ID # {{message.id}}</p>
                <h5>{{message.created_at}}</h5>
            {% endfor %}
        </div>
    </body>
</html>